<string>LaunchScreen</string>
<key>NSCameraUsegeDescription</key>
<string>We require camera access to connect to a call</string>
<key>NSMicrophoneUsageDescription</key>
<string>We require microphone access to connect to a call</string>
<key>NSPhotoLibraryUsageDescription</key>
<string>Allow access to photo library</string>



Text(
                "Item Price",
                style: AppWidget.semiBoldTextFeildSyle(),
              ),
              SizedBox(
                height: 10,
              ),
              Container(
                padding: EdgeInsets.symmetric(horizontal: 20),
                width: size.width,
                decoration: BoxDecoration(
                    color: white1, borderRadius: BorderRadius.circular(10)),
                child: TextField(
                  maxLines: 1,
                  controller: pricecontroller,
                  decoration: InputDecoration(
                      border: InputBorder.none,
                      hintText: "Enter Item Price",
                      hintStyle: AppWidget.lighTextFeildSyle()),
                ),
              ),



               Widget buildFoodCard(
      String imagePath, String title, String subtitle, String price) {
    return GestureDetector(
      onTap: () {
        Navigator.push(
            context, MaterialPageRoute(builder: (context) => Details()));
      },
      child: Container(
        margin: const EdgeInsets.all(4),
        child: Material(
          elevation: 5,
          borderRadius: BorderRadius.circular(20),
          child: Padding(
            padding: const EdgeInsets.all(14.0),
            child: Column(
              crossAxisAlignment: CrossAxisAlignment.start,
              children: [
                Image.asset(imagePath,
                    height: 150, width: 150, fit: BoxFit.cover),
                Text(title, style: AppWidget.semiBoldTextFeildSyle()),
                const SizedBox(height: 5),
                Text(subtitle, style: AppWidget.lighTextFeildSyle()),
                const SizedBox(height: 5),
                Text(price, style: AppWidget.semiBoldTextFeildSyle()),